{% load staticfiles %}
<html>
<body bgcolor="black">
<p style="float: left ;"><img src="{% static "images/IMG_20190206_131643216.jpg" %}" width="180"></p>
    <p style="float: right;"><img src="{% static "images/download (1).png" %}" width="" height="200"></p>
<marquee><h1 style="color: white">Dr.K.k.r Gowtham school</h1></marquee>

<h1 style="color:orange">
    <marquee>
        చిప్కో ఉద్యమం

1970 వ దశకంలో, అడవుల నాశనానికి వ్యవస్థీకృత ప్రతిఘటన భారతదేశం అంతటా వ్యాపించింది మరియు చిప్కో ఉద్యమం అని పిలువబడింది. గ్రామస్తులు చెట్లను కౌగిలించుకుని, కాంట్రాక్టర్లు వాటిని నరికివేయకుండా అడ్డుకోవడంతో ఉద్యమం పేరు 'ఆలింగనం' అనే పదం నుండి వచ్చింది.

గత కొన్ని శతాబ్దాలుగా భారతదేశంలోని అనేక సంఘాలు ప్రకృతిని కాపాడటానికి సహాయపడ్డాయని చాలా మందికి తెలియదు. అలాంటిది రాజస్థాన్ లోని బిష్ణోయ్ సంఘం. అసలు ‘చిప్కో ఉద్యమం’ ఈ సమాజం 18 వ శతాబ్దం ప్రారంభంలో రాజస్థాన్‌లో ప్రారంభమైంది. జోధ్‌పూర్ మహారాజా (రాజు) ఆదేశాల మేరకు చెట్లను నరికివేయకుండా కాపాడే ప్రయత్నంలో అమృత దేవి అనే మహిళ నేతృత్వంలోని 84 గ్రామాలకు చెందిన వారిలో ఒక పెద్ద బృందం తమ ప్రాణాలను అర్పించింది. ఈ సంఘటన తరువాత, మహారాజు అన్ని బిష్ణోయ్ గ్రామాలలో చెట్లను నరికివేయకుండా ఒక బలమైన రాజ ఉత్తర్వు ఇచ్చారు.

20 వ శతాబ్దంలో, వ్యవసాయ కార్యకలాపాలను సులభంగా నిర్వహించలేనందున, అడవులు ప్రధాన జీవనోపాధిగా ఉన్న కొండలలో ఇది ప్రారంభమైంది. 1973 నాటి చిప్కో ఉద్యమం వీటిలో అత్యంత ప్రసిద్ధమైనది. మొదటి చిప్కో చర్య ఏప్రిల్ 1973 లో ఎగువ అలకానంద లోయలోని మండల్ గ్రామంలో ఆకస్మికంగా జరిగింది మరియు తరువాతి ఐదేళ్ళలో ఉత్తర ప్రదేశ్ లోని హిమాలయాల యొక్క అనేక జిల్లాలకు వ్యాపించింది. అలకనంద లోయలోని అటవీ ప్రాంతాన్ని ఒక స్పోర్ట్స్ గూడ్స్ కంపెనీకి కేటాయించాలన్న ప్రభుత్వం తీసుకున్న నిర్ణయానికి ఇది కారణమైంది. వ్యవసాయ పనిముట్లు చేయడానికి కలపను ఉపయోగించాలన్న వారి డిమాండ్ ఇంతకుముందు తిరస్కరించబడినందున ఇది గ్రామస్తులకు కోపం తెప్పించింది. స్థానిక ఎన్జీఓ (ప్రభుత్వేతర సంస్థ) ప్రోత్సాహంతో, డిజిఎస్ఎస్ (దాసోలి గ్రామ స్వరాజ్యసంఘ్), ఆ ప్రాంత మహిళలు, ఒక కార్యకర్త, చండి ప్రసాద్ భట్ నాయకత్వంలో, అడవిలోకి వెళ్లి చెట్ల చుట్టూ ఒక వృత్తాన్ని ఏర్పాటు చేశారు. పురుషులు వాటిని కత్తిరించకుండా.

ఈ నిరసన సాధించిన విజయం దేశంలోని ఇతర ప్రాంతాలలో ఇలాంటి నిరసనలకు దారితీసింది. హిమాలయాలలో ఉత్తర ప్రదేశ్‌లో లాగింగ్ దుర్వినియోగానికి వ్యతిరేకంగా ఆకస్మిక నిరసనగా వారి మూలం నుండి, చిప్కో ఉద్యమానికి మద్దతుదారులు, ప్రధానంగా గ్రామ మహిళలు, అనేక ప్రాంతాలలో చెట్లను నరికివేయడాన్ని విజయవంతంగా నిషేధించారు మరియు భారతదేశంలో సహజ వనరుల విధానాన్ని ప్రభావితం చేశారు. ధూమ్ సింగ్ నేగి, బచ్ని దేవి మరియు అనేక ఇతర గ్రామ మహిళలు, చెట్లను కౌగిలించుకోవడం ద్వారా మొదట వాటిని రక్షించారు. వారు నినాదాలు చేశారు: 'అడవులు ఏమి భరిస్తాయి? నేల, నీరు మరియు స్వచ్ఛమైన గాలి '. కొండలలో చిప్కో ఉద్యమం సాధించిన విజయం వేలాది చెట్లను నరికివేయకుండా కాపాడింది.

మరికొందరు వ్యక్తులు కూడా ఈ ఉద్యమంలో పాలుపంచుకున్నారు మరియు దానికి సరైన దిశానిర్దేశం చేశారు. గాంధేయ కార్యకర్త మరియు తత్వవేత్త అయిన సుందర్‌లాల్ బహుగుణ, అప్పటి భారత ప్రధాని శ్రీమతి ఇందిరా గాంధీకి చేసిన విజ్ఞప్తి ఫలితంగా పచ్చని నరికివేత నిషేధానికి దారితీసింది. 'ఎకాలజీ ఈజ్ శాశ్వత ఆర్థిక వ్యవస్థ' అనే చిప్కో నినాదాన్ని మిస్టర్ బహుగుణ రూపొందించారు. మిస్టర్ చండి ప్రసాద్ భట్, చిప్కో ఉద్యమానికి మరో నాయకుడు. స్థానిక ప్రయోజనాల కోసం అటవీ సంపద పరిరక్షణ మరియు స్థిరమైన ఉపయోగం ఆధారంగా స్థానిక పరిశ్రమల అభివృద్ధిని ఆయన ప్రోత్సహించారు. చిప్కో కవి అయిన మిస్టర్ ఘనాస్యమ్ రతురి, పాటలు ఉత్తర ప్రదేశ్ లోని హిమాలయాల అంతటా ప్రతిధ్వనిస్తూ, చెట్లను నరికివేయకుండా కాపాడటానికి ఆలింగనం చేసుకునే పద్ధతిని వివరిస్తూ ఒక కవిత రాశారు:

'చెట్లను ఆలింగనం చేసుకోండి మరియు
పడకుండా వారిని రక్షించండి;
మా కొండల ఆస్తి,
వాటిని దోచుకోకుండా కాపాడండి. '

అప్పటి భారత ప్రధాని శ్రీమతి ఇందిరా గాంధీ ఆదేశాల మేరకు ఉత్తరప్రదేశ్‌లో చిప్కో నిరసనలు 1980 లో ఆ రాష్ట్రంలోని హిమాలయ అడవులలో పచ్చని నరికివేతపై 15 సంవత్సరాల నిషేధంతో భారీ విజయాన్ని సాధించాయి. అప్పటి నుండి, ఈ ఉద్యమం దేశంలోని అనేక రాష్ట్రాలకు వ్యాపించింది. ఉత్తర ప్రదేశ్‌లో 15 సంవత్సరాల నిషేధంతో పాటు, ఈ ఉద్యమం పశ్చిమ కనుమలు మరియు వింధ్యాలలో పడిపోవడాన్ని ఆపివేసింది మరియు ప్రజల అవసరాలకు మరియు పర్యావరణ అవసరాలకు మరింత సున్నితంగా ఉండే సహజ వనరుల విధానం కోసం ఒత్తిడిని సృష్టించింది.
    </marquee>
</h1>
<marquee>
    <h1 style="color: white">
    चिपको आंदोलन

1970 के दशक में, जंगलों के विनाश के लिए संगठित प्रतिरोध पूरे भारत में फैल गया और चिपको आंदोलन के रूप में जाना जाने लगा। आंदोलन का नाम 'आलिंगन' शब्द से आया है क्योंकि ग्रामीण पेड़ों को गले लगाते हैं और ठेकेदारों को उन्हें काटने से रोकते हैं।

बहुत से लोग इस बात से अनजान हैं कि भारत में कई समुदायों ने पिछली कुछ शताब्दियों में प्रकृति को संरक्षित करने में मदद की है। ऐसा है राजस्थान का बिश्नोई समुदाय। 18 वीं शताब्दी की शुरुआत में राजस्थान में मूल चिपको आंदोलन की स्थापना की गई थी। जोधपुर के महाराजा के आदेश पर पेड़ों को कटने से बचाने के प्रयास में अमृता देवी नाम की एक महिला के नेतृत्व में 84 ग्रामीणों के एक बड़े समूह ने अपना बलिदान दिया। इस घटना के बाद, महाराजा ने पेड़ों को काटे बिना सभी बिश्नोई गांवों में एक मजबूत शाही फरमान जारी किया।

20 वीं शताब्दी में, यह उन पहाड़ियों में शुरू हुआ जहां जंगल मुख्य आजीविका थे, क्योंकि कृषि कार्यों को आसानी से प्रबंधित नहीं किया गया था। इनमें से सबसे प्रसिद्ध 1973 का चिपको आंदोलन था। पहला चिपको ऑपरेशन अप्रैल 1973 में ऊपरी अलकनंदा घाटी के मंडल गाँव में हुआ और अगले पाँच वर्षों में उत्तर प्रदेश के हिमालय के कई जिलों में फैल गया। यह सरकार द्वारा अलकनंदा घाटी के वन क्षेत्र को एक स्पोर्ट्स गुड्स कंपनी को आवंटित करने के निर्णय के कारण था। इससे ग्रामीणों में नाराजगी है क्योंकि कृषि उपकरणों के लिए लकड़ी का उपयोग करने की उनकी मांग को पहले खारिज कर दिया गया था। एक स्थानीय एनजीओ, डीजीएसएस (दसोली ग्राम स्वराज्यसंग) के प्रोत्साहन से, इलाके की महिलाओं, एक कार्यकर्ता, चंडी प्रसाद भट्ट के नेतृत्व में, जंगल में गईं और पेड़ों के चारों ओर एक घेरा बनाया। बिना पुरुषों को काटे।

इस विरोध की सफलता के कारण देश के अन्य हिस्सों में भी ऐसा ही विरोध हुआ। उत्तर प्रदेश में हिमालय में गाली गलौच के खिलाफ एक सहज विरोध के रूप में उनकी उत्पत्ति से, चिपको आंदोलन के समर्थकों, मुख्य रूप से गाँव की महिलाओं, ने कई क्षेत्रों में पेड़ों के काटने पर सफलतापूर्वक प्रतिबंध लगा दिया है और भारत में प्राकृतिक संसाधन प्रणाली को प्रभावित किया है। धूम सिंह नेगी, बचनी देवी और कई अन्य गाँव की महिलाओं ने पहले पेड़ों को काटकर उन्हें बचाया। उन्होंने जप किया: 'जंगलों में क्या होता है? मिट्टी, पानी और शुद्ध हवा ’। पहाड़ियों में चिपको आंदोलन की सफलता ने हजारों पेड़ों को कटने से बचाया।

अन्य लोग भी आंदोलन में शामिल थे और उन्होंने सही दिशा दी। गांधीवादी कार्यकर्ता और दार्शनिक सुंदरलाल बहुगुणा ने भारत के तत्कालीन प्रधान मंत्री श्रीमती इंदिरा गांधी से इच्छामृत्यु पर प्रतिबंध के परिणामस्वरूप अपील की। श्री बहुगुणा ने चिपको का नारा दिया 'पारिस्थितिकी एक स्थायी अर्थव्यवस्था है'। श्री चंडी प्रसाद भट चिपको आंदोलन के एक और नेता हैं। उन्होंने स्थानीय उद्देश्यों के लिए वन संपदा के संरक्षण और स्थायी उपयोग के आधार पर स्थानीय उद्योगों के विकास को प्रोत्साहित किया। चिपको कवि श्री घनश्याम रतूड़ी ने उत्तर प्रदेश के हिमालय में जिस तरह से गीत गाए और पेड़ों के संरक्षण को गले लगाते हुए एक कविता लिखी।

'पेड़ों को गले लगाओ और
उन्हें गिरने से बचाएं;
हमारी पहाड़ियों की संपत्ति,
उन्हें लूटने से बचाओ। '

भारत की तत्कालीन प्रधान मंत्री श्रीमती इंदिरा गांधी के आदेश पर, उत्तर प्रदेश में चिपको विरोध प्रदर्शन 1980 में राज्य के हिमालयी जंगलों में हरित उन्मूलन पर 15 साल के प्रतिबंध के साथ एक बड़ी सफलता थी। तब से, यह आंदोलन देश भर के कई राज्यों में फैल गया। उत्तर प्रदेश में 15 साल के प्रतिबंध के साथ, पश्चिमी घाट और विंध्य में आंदोलन गिरना बंद हो गया है और इसने प्राकृतिक संसाधनों के लिए लोगों और पर्यावरण की जरूरतों के प्रति अधिक संवेदनशील होने का दबाव बनाया है।
  </h1>
</marquee>


<h1 style="color:green">
    <marquee>
  The Chipko movement

In the 1970s, an organized resistance to the destruction of forests spread throughout India and came to be known as the Chipko movement. The name of the movement comes from the word 'embrace', as the villagers hugged the trees, and prevented the contractors' from felling them.

Not many people know that over the last few centuries many communities in India have helped save nature. One such is the Bishnoi community of Rajasthan. The original ’Chipko movement’ was started around 260 years back in the early part of the 18th century in Rajasthan by this community. A large group of them from 84 villages led by a lady called Amrita Devi laid down their lives in an effort to protect the trees from being felled on the orders of the Maharaja (King) of Jodhpur. After this incident, the maharaja gave a strong royal decree preventing the cutting of trees in all Bishnoi villages.

In the 20th century, it began in the hills where the forests are the main source of livelihood, since agricultural activities cannot be carried out easily. The Chipko movement of 1973 was one of the most famous among these. The first Chipko action took place spontaneously in April 1973 in the village of Mandal in the upper Alakananda valley and over the next five years spread to many districts of the Himalayas in Uttar Pradesh. It was sparked off by the government's decision to allot a plot of forest area in the Alaknanda valley to a sports goods company. This angered the villagers because their similar demand to use wood for making agricultural tools had been earlier denied. With encouragement from a local NGO (non-governmental organization), DGSS (Dasoli Gram Swarajya Sangh), the women of the area, under the leadership of an activist, Chandi Prasad Bhatt, went into the forest and formed a circle around the trees preventing the men from cutting them down.

The success achieved by this protest led to similar protests in other parts of the country. From their origins as a spontaneous protest against logging abuses in Uttar Pradesh in the Himalayas, supporters of the Chipko movement, mainly village women, have successfully banned the felling of trees in a number of regions and influenced natural resource policy in India. Dhoom Singh Negi, Bachni Devi and many other village women, were the first to save trees by hugging them. They coined the slogan: 'What do the forests bear? Soil, water and pure air'. The success of the Chipko movement in the hills saved thousands of trees from being felled.

Some other persons have also been involved in this movement and have given it proper direction. Mr Sunderlal Bahuguna, a Gandhian activist and philosopher, whose appeal to Mrs Indira Gandhi, the then Prime Minister of India, resulted in the green-felling ban. Mr Bahuguna coined the Chipko slogan: 'ecology is permanent economy'. Mr Chandi Prasad Bhatt, is another leader of the Chipko movement. He encouraged the development of local industries based on the conservation and sustainable use of forest wealth for local benefit. Mr Ghanasyam Raturi, the Chipko poet, whose songs echo throughout the Himalayas of Uttar Pradesh, wrote a poem describing the method of embracing the trees to save them from felling:

' Embrace the trees and
Save them from being felled;
The property of our hills,
Save them from being looted.'

The Chipko protests in Uttar Pradesh achieved a major victory in 1980 with a 15-year ban on green felling in the Himalayan forests of that state by the order of Mrs Indira Gandhi, the then Prime Minister of India. Since then, the movement has spread to many states in the country. In addition to the 15-year ban in Uttar Pradesh, the movement has stopped felling in the Western Ghats and the Vindhyas and has generated pressure for a natural resource policy that is more sensitive to people's needs and ecological requirements.
</marquee>
</h1>


<marquee><h1>

</h1></marquee>

<marquee><h1>

</h1></marquee>

<marquee><h1>

</h1></marquee>

</form>
</body>
</html>

