    <p style="float: right ;">
        <a href="{% url "show" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>All Total Register
        </a>
        <br>
        <br>
        <br>
        <a href="{% url "Radha" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>Teacher Answers
        </a>
        <br>
        <br>
        <br>
        <a href="{% url "viewall" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>Student Quection
        </a>
        <br>
        <br>
        <br>
        <a href="{% url "exam1" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>Student Que Post
        </a>
        <br>
        <br>
        <br>
        <a href="{% url "exam5" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>Post Exam Answer
        </a>
        <br>
        <br>
        <br>
        <a href="{% url "exam5" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>Post Exam Answer
        </a>
    </p>
    <a href="{% url "Det" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-book" style="width: 60px"></span> Quection Post
        </a>
        <br>
        <br>
        <br>
         <a href="{% url "all" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-book" style="width: 45px"></span> Teacher Answer
        </a>
        <br>
        <br>
        <br>
         <a href="{% url "exam3" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 60px"></span> Student Exam
        </a>
        <br>
        <br>
        <br>
         <a href="{% url "exam6" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>Quection Answer
        </a>
    </p>
    <p style="float: right ;">
        <a href="{% url "show" %}" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-pencil" style="width: 45px"></span>All Total Register
        </a>

