<table align="center" bgcolor="#a9a9a9" border="1">
    <tr>
        <th>Delete Answer:</th>
    </tr>
    <tr>
        <td>IDNO:</td>
        <td>{{ object.idno}}</td>
    </tr>
    <tr>
        <td>ANSWER:</td>
        <td>{{ object.que1 }}</td>
    </tr>

    <tr>
        <th>
            <form method="post">
                 {% csrf_token %}<button type="submit">Yes</button></form> </th>
        <th><form action="/Ram1/" >
            <button type="submit">No</button></form> </th>
    </tr>
</table>
 <table align="center">
     <tr><td><input type="button" value="Go Back!" onclick="history.back()" ></td></tr>
 </table>
