<html>
<body>
<form action="/exam3/" method="post">
    {% csrf_token %}
    <table>

        <tr>
            <td><h1 style="color: red">Quection 1 :</h1></td><td><h1 style="color: blue">1.{{ que1 }}</h1> </td></td>
        </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que1" value="ans1">{{ ans1 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que1" value="ans2">{{ ans2 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que1" value="ans3">{{ ans3 }}</h1></td><br>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que1" value="ans4">{{ ans4 }}</h1></td>
        </tr>

        <tr>
            <td><h1 style="color: red">Quection 2 :</h1></td><td><h1 style="color: blue">2.{{ que2 }}</h1></td>
        <tr>
        </tr>
        <td><td><h1 style="color:indigo;"><input type="radio" name="que2" value="ans5">{{ ans5}}</h1></td>
        <td><td><h1 style="color:indigo;"><input type="radio" name="que2" value="ans6">{{ ans6 }}</h1></td>
        <td><td><h1 style="color:indigo;"><input type="radio" name="que2" value="ans7">{{ ans7 }}</h1></td>
        <td><td><h1 style="color:indigo;"><input type="radio" name="que2" value="ans8">{{ ans8 }}</h1></td>
        </tr>

        <tr>
            <td><h1 style="color: red">Quection 3 :</h1></td><td><h1 style="color: blue">3.{{ que3 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que3" value="ans9">{{ ans9 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que3" value="ans10">{{ ans10 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que3" value="ans11">{{ ans11 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que3" value="ans12">{{ ans12 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 4 :</h1></td><td><h1 style="color: blue">4.{{ que4 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que4" value="ans13">{{ ans13 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que4" value="ans14">{{ ans14 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que4" value="ans15">{{ ans15 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que4" value="ans16">{{ ans16 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 5 :</h1></td><td><h1 style="color: blue">5.{{ que5 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que5" value="ans17">{{ ans17 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que5" value="ans18">{{ ans18 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que5" value="ans19">{{ ans19 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que5" value="ans20">{{ ans20 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 6 :</h1></td><td><h1 style="color: blue">6.{{ que6 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que6" value="ans21">{{ ans21 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que6" value="ans22">{{ ans22 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que6" value="ans23">{{ ans23 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que6" value="ans24">{{ ans24 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 7 :</h1></td><td><h1 style="color: blue">7.{{ que7 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que7" value="ans25">{{ ans25 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que7" value="ans26">{{ ans26 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que7" value="ans27">{{ ans27 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que7" value="ans28">{{ ans28 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 8 :</h1></td><td><h1 style="color: blue">8.{{ que8 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que8" value="ans29">{{ ans29 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que8" value="ans30">{{ ans30 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que8" value="ans31">{{ ans31 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que8" value="ans32">{{ ans32 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 9 :</h1></td><td><h1 style="color: blue">9.{{ que9 }}</h1></td>
        </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que9" value="ans33">{{ ans33 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que9" value="ans34">{{ ans34 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que9" value="ans35">{{ ans35 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que9" value="ans36">{{ ans36 }}</h1></td>
        </tr>
        <tr>
            <td><h1 style="color: red">Quection 10 :</h1></td><td><h1 style="color: blue">10.{{ que10 }}</h1></td>
         </tr>
        <tr>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que10" value="ans37">{{ ans37 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que10" value="ans38">{{ ans38 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que10" value="ans39">{{ ans39 }}</h1></td>
            <td><td><h1 style="color:indigo;"><input type="radio" name="que10" value="ans40">{{ ans40 }}</h1></td>
        </tr>
    </table>
    <tr><td><button type="submit">Submit</button></td></tr>
</form>
</body>
</html>
