{% load staticfiles %}
<fieldset style="padding: 1px">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body background="{% static "images/download (6).jpg" %}" style="width: 1250px">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
        <img src="{% static "images/IMG_20190206_131643216.jpg" %}" width="50">
        <a href="{% url "main" %}" class="btn btn-info btn-lg" style="margin:8px;background-color: indigo " >
          <span class="glyphicon glyphicon-home" style="width: 60px"></span> Home
        </a>
        <a href="{% url "about" %}" class="btn btn-info btn-lg" style="margin:8px;background-color: orange">
          <span class="glyphicon glyphicon-pencil" style="width: 60px;"></span> About Use</a>
              <a href="{% url "informaction" %}" class="btn btn-info btn-lg" style="margin:8px;background-color: red">
          <span class="glyphicon glyphicon-italic" style="width: 60px"></span> Informaction
        </a>
            <a href="#" class="btn btn-info btn-lg" style="margin:8px;">
          <span class="glyphicon glyphicon-italic" style="width: 60px;"></span> Time Table
        </a>
        <a href="{% url "home" %}" class="btn btn-info btn-lg" style="margin:8px;background-color: green">
          <span class="glyphicon glyphicon-search" style="width: 60px"></span> search
        </a>
      </p>

    </ul>
  </div>
</nav>
</body>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body bgcolor="red">
<form action="/answer/" method="post">
    {% csrf_token %}

    <div class="container">
        <div class="form-group">
      <label class="control-label col-sm-2" for="answer1" style="color: #e60073">Student answer1:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer1" placeholder="Enter answer1 " name="answer1" style="background-color: green;color: white;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer2" style="color: #e60073">Student answer2:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer2" placeholder="Enter answer2" name="answer2" style="background-color: yellow;color: red;border-color: green">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer3" style="color: #e60073">Student answer3:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer3" placeholder="Enter answer3 " name="answer3" style="background-color: orangered;color: blue;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer4" style="color: #e60073">Student answer4:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer4" placeholder="Enter answer4" name="answer4"style="background-color: olive;color: black;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer5" style="color: #e60073">Student answer5:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer5" placeholder="Enter answer5 " name="answer5" style="background-color: black;color: red;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer6" style="color: #e60073">Student answer6:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer6" placeholder="Enter answer6" name="answer6" style="background-color: coral;color: white;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer7" style="color: #e60073">Student answer7:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer7" placeholder="Enter answer7 " name="answer7"style="background-color: indigo;color: red;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer8" style="color: #e60073">Student answer8:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer8" placeholder="Enter answer8" name="answer8" style="background-color: midnightblue;color: white;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer9" style="color: #e60073">Student answer9:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer9" placeholder="Enter answer9 " name="answer9"style="background-color: mediumblue;color: yellow;border-color: gold">
      </div>
    </div>
        <br>
        <br>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="answer10" style="color: #e60073">Student answer10:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="answer10" placeholder="Enter answer10" name="answer10"style="background-color: firebrick;color: orangered;border-color: gold"">
      </div>
    </div>
        <br>
        <br>
        <br>
        <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" style="background-color: green">Submit</button>
      </div>
    </div>
    </div>
</form>
</body>
</html>



