<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 80px;
  color:orange;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
</head>
<body>


    <h1 style="color:orange" class="glow">
    <marquee>
        చిప్కో ఉద్యమం

1970 వ దశకంలో, అడవుల నాశనానికి వ్యవస్థీకృత ప్రతిఘటన భారతదేశం అంతటా వ్యాపించింది మరియు చిప్కో ఉద్యమం అని పిలువబడింది. గ్రామస్తులు చెట్లను కౌగిలించుకుని, కాంట్రాక్టర్లు వాటిని నరికివేయకుండా అడ్డుకోవడంతో ఉద్యమం పేరు 'ఆలింగనం' అనే పదం నుండి వచ్చింది.

గత కొన్ని శతాబ్దాలుగా భారతదేశంలోని అనేక సంఘాలు ప్రకృతిని కాపాడటానికి సహాయపడ్డాయని చాలా మందికి తెలియదు. అలాంటిది రాజస్థాన్ లోని బిష్ణోయ్ సంఘం. అసలు ‘చిప్కో ఉద్యమం’ ఈ సమాజం 18 వ శతాబ్దం ప్రారంభంలో రాజస్థాన్‌లో ప్రారంభమైంది. జోధ్‌పూర్ మహారాజా (రాజు) ఆదేశాల మేరకు చెట్లను నరికివేయకుండా కాపాడే ప్రయత్నంలో అమృత దేవి అనే మహిళ నేతృత్వంలోని 84 గ్రామాలకు చెందిన వారిలో ఒక పెద్ద బృందం తమ ప్రాణాలను అర్పించింది. ఈ సంఘటన తరువాత, మహారాజు అన్ని బిష్ణోయ్ గ్రామాలలో చెట్లను నరికివేయకుండా ఒక బలమైన రాజ ఉత్తర్వు ఇచ్చారు.

20 వ శతాబ్దంలో, వ్యవసాయ కార్యకలాపాలను సులభంగా నిర్వహించలేనందున, అడవులు ప్రధాన జీవనోపాధిగా ఉన్న కొండలలో ఇది ప్రారంభమైంది. 1973 నాటి చిప్కో ఉద్యమం వీటిలో అత్యంత ప్రసిద్ధమైనది. మొదటి చిప్కో చర్య ఏప్రిల్ 1973 లో ఎగువ అలకానంద లోయలోని మండల్ గ్రామంలో ఆకస్మికంగా జరిగింది మరియు తరువాతి ఐదేళ్ళలో ఉత్తర ప్రదేశ్ లోని హిమాలయాల యొక్క అనేక జిల్లాలకు వ్యాపించింది. అలకనంద లోయలోని అటవీ ప్రాంతాన్ని ఒక స్పోర్ట్స్ గూడ్స్ కంపెనీకి కేటాయించాలన్న ప్రభుత్వం తీసుకున్న నిర్ణయానికి ఇది కారణమైంది. వ్యవసాయ పనిముట్లు చేయడానికి కలపను ఉపయోగించాలన్న వారి డిమాండ్ ఇంతకుముందు తిరస్కరించబడినందున ఇది గ్రామస్తులకు కోపం తెప్పించింది. స్థానిక ఎన్జీఓ (ప్రభుత్వేతర సంస్థ) ప్రోత్సాహంతో, డిజిఎస్ఎస్ (దాసోలి గ్రామ స్వరాజ్యసంఘ్), ఆ ప్రాంత మహిళలు, ఒక కార్యకర్త, చండి ప్రసాద్ భట్ నాయకత్వంలో, అడవిలోకి వెళ్లి చెట్ల చుట్టూ ఒక వృత్తాన్ని ఏర్పాటు చేశారు. పురుషులు వాటిని కత్తిరించకుండా.

ఈ నిరసన సాధించిన విజయం దేశంలోని ఇతర ప్రాంతాలలో ఇలాంటి నిరసనలకు దారితీసింది. హిమాలయాలలో ఉత్తర ప్రదేశ్‌లో లాగింగ్ దుర్వినియోగానికి వ్యతిరేకంగా ఆకస్మిక నిరసనగా వారి మూలం నుండి, చిప్కో ఉద్యమానికి మద్దతుదారులు, ప్రధానంగా గ్రామ మహిళలు, అనేక ప్రాంతాలలో చెట్లను నరికివేయడాన్ని విజయవంతంగా నిషేధించారు మరియు భారతదేశంలో సహజ వనరుల విధానాన్ని ప్రభావితం చేశారు. ధూమ్ సింగ్ నేగి, బచ్ని దేవి మరియు అనేక ఇతర గ్రామ మహిళలు, చెట్లను కౌగిలించుకోవడం ద్వారా మొదట వాటిని రక్షించారు. వారు నినాదాలు చేశారు: 'అడవులు ఏమి భరిస్తాయి? నేల, నీరు మరియు స్వచ్ఛమైన గాలి '. కొండలలో చిప్కో ఉద్యమం సాధించిన విజయం వేలాది చెట్లను నరికివేయకుండా కాపాడింది.

మరికొందరు వ్యక్తులు కూడా ఈ ఉద్యమంలో పాలుపంచుకున్నారు మరియు దానికి సరైన దిశానిర్దేశం చేశారు. గాంధేయ కార్యకర్త మరియు తత్వవేత్త అయిన సుందర్‌లాల్ బహుగుణ, అప్పటి భారత ప్రధాని శ్రీమతి ఇందిరా గాంధీకి చేసిన విజ్ఞప్తి ఫలితంగా పచ్చని నరికివేత నిషేధానికి దారితీసింది. 'ఎకాలజీ ఈజ్ శాశ్వత ఆర్థిక వ్యవస్థ' అనే చిప్కో నినాదాన్ని మిస్టర్ బహుగుణ రూపొందించారు. మిస్టర్ చండి ప్రసాద్ భట్, చిప్కో ఉద్యమానికి మరో నాయకుడు. స్థానిక ప్రయోజనాల కోసం అటవీ సంపద పరిరక్షణ మరియు స్థిరమైన ఉపయోగం ఆధారంగా స్థానిక పరిశ్రమల అభివృద్ధిని ఆయన ప్రోత్సహించారు. చిప్కో కవి అయిన మిస్టర్ ఘనాస్యమ్ రతురి, పాటలు ఉత్తర ప్రదేశ్ లోని హిమాలయాల అంతటా ప్రతిధ్వనిస్తూ, చెట్లను నరికివేయకుండా కాపాడటానికి ఆలింగనం చేసుకునే పద్ధతిని వివరిస్తూ ఒక కవిత రాశారు:

'చెట్లను ఆలింగనం చేసుకోండి మరియు
పడకుండా వారిని రక్షించండి;
మా కొండల ఆస్తి,
వాటిని దోచుకోకుండా కాపాడండి. '

అప్పటి భారత ప్రధాని శ్రీమతి ఇందిరా గాంధీ ఆదేశాల మేరకు ఉత్తరప్రదేశ్‌లో చిప్కో నిరసనలు 1980 లో ఆ రాష్ట్రంలోని హిమాలయ అడవులలో పచ్చని నరికివేతపై 15 సంవత్సరాల నిషేధంతో భారీ విజయాన్ని సాధించాయి. అప్పటి నుండి, ఈ ఉద్యమం దేశంలోని అనేక రాష్ట్రాలకు వ్యాపించింది. ఉత్తర ప్రదేశ్‌లో 15 సంవత్సరాల నిషేధంతో పాటు, ఈ ఉద్యమం పశ్చిమ కనుమలు మరియు వింధ్యాలలో పడిపోవడాన్ని ఆపివేసింది మరియు ప్రజల అవసరాలకు మరియు పర్యావరణ అవసరాలకు మరింత సున్నితంగా ఉండే సహజ వనరుల విధానం కోసం ఒత్తిడిని సృష్టించింది.
    </marquee>
</h1>
</h1>

</body>

