{% load staticfiles %}
<html>
<body bgcolor="black">
<p style="float: left ;"><img src="{% static "images/IMG_20190206_131643216.jpg" %}" width="180"></p>
    <p style="float: right;"><img src="{% static "images/download (1).png" %}" width="" height="200"></p>
<marquee><h1 style="color: white">Dr.K.k.r Gowtham school</h1></marquee>

<table  bgcolor="black">
    <tr>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index1" %}">Home</a></h4></button>
        </td>

        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index3" %}">About</a></h4></button>
        </td>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index4" %}">Physics</a></h4></button>
        </td>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index4" %}">Informactions</a></h4></button>
        </td>
    </tr>
</table>
<h1 style="color:orange">
    <marquee>
        చిప్కో ఉద్యమం

1970 వ దశకంలో, అడవుల నాశనానికి వ్యవస్థీకృత ప్రతిఘటన భారతదేశం అంతటా వ్యాపించింది మరియు చిప్కో ఉద్యమం అని పిలువబడింది. గ్రామస్తులు చెట్లను కౌగిలించుకుని, కాంట్రాక్టర్లు వాటిని నరికివేయకుండా అడ్డుకోవడంతో ఉద్యమం పేరు 'ఆలింగనం' అనే పదం నుండి వచ్చింది.

గత కొన్ని శతాబ్దాలుగా భారతదేశంలోని అనేక సంఘాలు ప్రకృతిని కాపాడటానికి సహాయపడ్డాయని చాలా మందికి తెలియదు. అలాంటిది రాజస్థాన్ లోని బిష్ణోయ్ సంఘం. అసలు ‘చిప్కో ఉద్యమం’ ఈ సమాజం 18 వ శతాబ్దం ప్రారంభంలో రాజస్థాన్‌లో ప్రారంభమైంది. జోధ్‌పూర్ మహారాజా (రాజు) ఆదేశాల మేరకు చెట్లను నరికివేయకుండా కాపాడే ప్రయత్నంలో అమృత దేవి అనే మహిళ నేతృత్వంలోని 84 గ్రామాలకు చెందిన వారిలో ఒక పెద్ద బృందం తమ ప్రాణాలను అర్పించింది. ఈ సంఘటన తరువాత, మహారాజు అన్ని బిష్ణోయ్ గ్రామాలలో చెట్లను నరికివేయకుండా ఒక బలమైన రాజ ఉత్తర్వు ఇచ్చారు.

20 వ శతాబ్దంలో, వ్యవసాయ కార్యకలాపాలను సులభంగా నిర్వహించలేనందున, అడవులు ప్రధాన జీవనోపాధిగా ఉన్న కొండలలో ఇది ప్రారంభమైంది. 1973 నాటి చిప్కో ఉద్యమం వీటిలో అత్యంత ప్రసిద్ధమైనది. మొదటి చిప్కో చర్య ఏప్రిల్ 1973 లో ఎగువ అలకానంద లోయలోని మండల్ గ్రామంలో ఆకస్మికంగా జరిగింది మరియు తరువాతి ఐదేళ్ళలో ఉత్తర ప్రదేశ్ లోని హిమాలయాల యొక్క అనేక జిల్లాలకు వ్యాపించింది. అలకనంద లోయలోని అటవీ ప్రాంతాన్ని ఒక స్పోర్ట్స్ గూడ్స్ కంపెనీకి కేటాయించాలన్న ప్రభుత్వం తీసుకున్న నిర్ణయానికి ఇది కారణమైంది. వ్యవసాయ పనిముట్లు చేయడానికి కలపను ఉపయోగించాలన్న వారి డిమాండ్ ఇంతకుముందు తిరస్కరించబడినందున ఇది గ్రామస్తులకు కోపం తెప్పించింది. స్థానిక ఎన్జీఓ (ప్రభుత్వేతర సంస్థ) ప్రోత్సాహంతో, డిజిఎస్ఎస్ (దాసోలి గ్రామ స్వరాజ్యసంఘ్), ఆ ప్రాంత మహిళలు, ఒక కార్యకర్త, చండి ప్రసాద్ భట్ నాయకత్వంలో, అడవిలోకి వెళ్లి చెట్ల చుట్టూ ఒక వృత్తాన్ని ఏర్పాటు చేశారు. పురుషులు వాటిని కత్తిరించకుండా.

ఈ నిరసన సాధించిన విజయం దేశంలోని ఇతర ప్రాంతాలలో ఇలాంటి నిరసనలకు దారితీసింది. హిమాలయాలలో ఉత్తర ప్రదేశ్‌లో లాగింగ్ దుర్వినియోగానికి వ్యతిరేకంగా ఆకస్మిక నిరసనగా వారి మూలం నుండి, చిప్కో ఉద్యమానికి మద్దతుదారులు, ప్రధానంగా గ్రామ మహిళలు, అనేక ప్రాంతాలలో చెట్లను నరికివేయడాన్ని విజయవంతంగా నిషేధించారు మరియు భారతదేశంలో సహజ వనరుల విధానాన్ని ప్రభావితం చేశారు. ధూమ్ సింగ్ నేగి, బచ్ని దేవి మరియు అనేక ఇతర గ్రామ మహిళలు, చెట్లను కౌగిలించుకోవడం ద్వారా మొదట వాటిని రక్షించారు. వారు నినాదాలు చేశారు: 'అడవులు ఏమి భరిస్తాయి? నేల, నీరు మరియు స్వచ్ఛమైన గాలి '. కొండలలో చిప్కో ఉద్యమం సాధించిన విజయం వేలాది చెట్లను నరికివేయకుండా కాపాడింది.

మరికొందరు వ్యక్తులు కూడా ఈ ఉద్యమంలో పాలుపంచుకున్నారు మరియు దానికి సరైన దిశానిర్దేశం చేశారు. గాంధేయ కార్యకర్త మరియు తత్వవేత్త అయిన సుందర్‌లాల్ బహుగుణ, అప్పటి భారత ప్రధాని శ్రీమతి ఇందిరా గాంధీకి చేసిన విజ్ఞప్తి ఫలితంగా పచ్చని నరికివేత నిషేధానికి దారితీసింది. 'ఎకాలజీ ఈజ్ శాశ్వత ఆర్థిక వ్యవస్థ' అనే చిప్కో నినాదాన్ని మిస్టర్ బహుగుణ రూపొందించారు. మిస్టర్ చండి ప్రసాద్ భట్, చిప్కో ఉద్యమానికి మరో నాయకుడు. స్థానిక ప్రయోజనాల కోసం అటవీ సంపద పరిరక్షణ మరియు స్థిరమైన ఉపయోగం ఆధారంగా స్థానిక పరిశ్రమల అభివృద్ధిని ఆయన ప్రోత్సహించారు. చిప్కో కవి అయిన మిస్టర్ ఘనాస్యమ్ రతురి, పాటలు ఉత్తర ప్రదేశ్ లోని హిమాలయాల అంతటా ప్రతిధ్వనిస్తూ, చెట్లను నరికివేయకుండా కాపాడటానికి ఆలింగనం చేసుకునే పద్ధతిని వివరిస్తూ ఒక కవిత రాశారు:

'చెట్లను ఆలింగనం చేసుకోండి మరియు
పడకుండా వారిని రక్షించండి;
మా కొండల ఆస్తి,
వాటిని దోచుకోకుండా కాపాడండి. '

అప్పటి భారత ప్రధాని శ్రీమతి ఇందిరా గాంధీ ఆదేశాల మేరకు ఉత్తరప్రదేశ్‌లో చిప్కో నిరసనలు 1980 లో ఆ రాష్ట్రంలోని హిమాలయ అడవులలో పచ్చని నరికివేతపై 15 సంవత్సరాల నిషేధంతో భారీ విజయాన్ని సాధించాయి. అప్పటి నుండి, ఈ ఉద్యమం దేశంలోని అనేక రాష్ట్రాలకు వ్యాపించింది. ఉత్తర ప్రదేశ్‌లో 15 సంవత్సరాల నిషేధంతో పాటు, ఈ ఉద్యమం పశ్చిమ కనుమలు మరియు వింధ్యాలలో పడిపోవడాన్ని ఆపివేసింది మరియు ప్రజల అవసరాలకు మరియు పర్యావరణ అవసరాలకు మరింత సున్నితంగా ఉండే సహజ వనరుల విధానం కోసం ఒత్తిడిని సృష్టించింది.
    </marquee>
</h1>
<marquee>
    <h1 style="color: orange">
    चिपको आंदोलन

1970 के दशक में, जंगलों के विनाश के लिए संगठित प्रतिरोध पूरे भारत में फैल गया और चिपको आंदोलन के रूप में जाना जाने लगा। आंदोलन का नाम 'आलिंगन' शब्द से आया है क्योंकि ग्रामीण पेड़ों को गले लगाते हैं और ठेकेदारों को उन्हें काटने से रोकते हैं।

बहुत से लोग इस बात से अनजान हैं कि भारत में कई समुदायों ने पिछली कुछ शताब्दियों में प्रकृति को संरक्षित करने में मदद की है। ऐसा है राजस्थान का बिश्नोई समुदाय। 18 वीं शताब्दी की शुरुआत में राजस्थान में मूल चिपको आंदोलन की स्थापना की गई थी। जोधपुर के महाराजा के आदेश पर पेड़ों को कटने से बचाने के प्रयास में अमृता देवी नाम की एक महिला के नेतृत्व में 84 ग्रामीणों के एक बड़े समूह ने अपना बलिदान दिया। इस घटना के बाद, महाराजा ने पेड़ों को काटे बिना सभी बिश्नोई गांवों में एक मजबूत शाही फरमान जारी किया।

20 वीं शताब्दी में, यह उन पहाड़ियों में शुरू हुआ जहां जंगल मुख्य आजीविका थे, क्योंकि कृषि कार्यों को आसानी से प्रबंधित नहीं किया गया था। इनमें से सबसे प्रसिद्ध 1973 का चिपको आंदोलन था। पहला चिपको ऑपरेशन अप्रैल 1973 में ऊपरी अलकनंदा घाटी के मंडल गाँव में हुआ और अगले पाँच वर्षों में उत्तर प्रदेश के हिमालय के कई जिलों में फैल गया। यह सरकार द्वारा अलकनंदा घाटी के वन क्षेत्र को एक स्पोर्ट्स गुड्स कंपनी को आवंटित करने के निर्णय के कारण था। इससे ग्रामीणों में नाराजगी है क्योंकि कृषि उपकरणों के लिए लकड़ी का उपयोग करने की उनकी मांग को पहले खारिज कर दिया गया था। एक स्थानीय एनजीओ, डीजीएसएस (दसोली ग्राम स्वराज्यसंग) के प्रोत्साहन से, इलाके की महिलाओं, एक कार्यकर्ता, चंडी प्रसाद भट्ट के नेतृत्व में, जंगल में गईं और पेड़ों के चारों ओर एक घेरा बनाया। बिना पुरुषों को काटे।

इस विरोध की सफलता के कारण देश के अन्य हिस्सों में भी ऐसा ही विरोध हुआ। उत्तर प्रदेश में हिमालय में गाली गलौच के खिलाफ एक सहज विरोध के रूप में उनकी उत्पत्ति से, चिपको आंदोलन के समर्थकों, मुख्य रूप से गाँव की महिलाओं, ने कई क्षेत्रों में पेड़ों के काटने पर सफलतापूर्वक प्रतिबंध लगा दिया है और भारत में प्राकृतिक संसाधन प्रणाली को प्रभावित किया है। धूम सिंह नेगी, बचनी देवी और कई अन्य गाँव की महिलाओं ने पहले पेड़ों को काटकर उन्हें बचाया। उन्होंने जप किया: 'जंगलों में क्या होता है? मिट्टी, पानी और शुद्ध हवा ’। पहाड़ियों में चिपको आंदोलन की सफलता ने हजारों पेड़ों को कटने से बचाया।

अन्य लोग भी आंदोलन में शामिल थे और उन्होंने सही दिशा दी। गांधीवादी कार्यकर्ता और दार्शनिक सुंदरलाल बहुगुणा ने भारत के तत्कालीन प्रधान मंत्री श्रीमती इंदिरा गांधी से इच्छामृत्यु पर प्रतिबंध के परिणामस्वरूप अपील की। श्री बहुगुणा ने चिपको का नारा दिया 'पारिस्थितिकी एक स्थायी अर्थव्यवस्था है'। श्री चंडी प्रसाद भट चिपको आंदोलन के एक और नेता हैं। उन्होंने स्थानीय उद्देश्यों के लिए वन संपदा के संरक्षण और स्थायी उपयोग के आधार पर स्थानीय उद्योगों के विकास को प्रोत्साहित किया। चिपको कवि श्री घनश्याम रतूड़ी ने उत्तर प्रदेश के हिमालय में जिस तरह से गीत गाए और पेड़ों के संरक्षण को गले लगाते हुए एक कविता लिखी।

'पेड़ों को गले लगाओ और
उन्हें गिरने से बचाएं;
हमारी पहाड़ियों की संपत्ति,
उन्हें लूटने से बचाओ। '

भारत की तत्कालीन प्रधान मंत्री श्रीमती इंदिरा गांधी के आदेश पर, उत्तर प्रदेश में चिपको विरोध प्रदर्शन 1980 में राज्य के हिमालयी जंगलों में हरित उन्मूलन पर 15 साल के प्रतिबंध के साथ एक बड़ी सफलता थी। तब से, यह आंदोलन देश भर के कई राज्यों में फैल गया। उत्तर प्रदेश में 15 साल के प्रतिबंध के साथ, पश्चिमी घाट और विंध्य में आंदोलन गिरना बंद हो गया है और इसने प्राकृतिक संसाधनों के लिए लोगों और पर्यावरण की जरूरतों के प्रति अधिक संवेदनशील होने का दबाव बनाया है।
  </h1>
</marquee>


<h1 style="color:white">
    <marquee>
  The Chipko movement

In the 1970s, an organized resistance to the destruction of forests spread throughout India and came to be known as the Chipko movement. The name of the movement comes from the word 'embrace', as the villagers hugged the trees, and prevented the contractors' from felling them.

Not many people know that over the last few centuries many communities in India have helped save nature. One such is the Bishnoi community of Rajasthan. The original ’Chipko movement’ was started around 260 years back in the early part of the 18th century in Rajasthan by this community. A large group of them from 84 villages led by a lady called Amrita Devi laid down their lives in an effort to protect the trees from being felled on the orders of the Maharaja (King) of Jodhpur. After this incident, the maharaja gave a strong royal decree preventing the cutting of trees in all Bishnoi villages.

In the 20th century, it began in the hills where the forests are the main source of livelihood, since agricultural activities cannot be carried out easily. The Chipko movement of 1973 was one of the most famous among these. The first Chipko action took place spontaneously in April 1973 in the village of Mandal in the upper Alakananda valley and over the next five years spread to many districts of the Himalayas in Uttar Pradesh. It was sparked off by the government's decision to allot a plot of forest area in the Alaknanda valley to a sports goods company. This angered the villagers because their similar demand to use wood for making agricultural tools had been earlier denied. With encouragement from a local NGO (non-governmental organization), DGSS (Dasoli Gram Swarajya Sangh), the women of the area, under the leadership of an activist, Chandi Prasad Bhatt, went into the forest and formed a circle around the trees preventing the men from cutting them down.

The success achieved by this protest led to similar protests in other parts of the country. From their origins as a spontaneous protest against logging abuses in Uttar Pradesh in the Himalayas, supporters of the Chipko movement, mainly village women, have successfully banned the felling of trees in a number of regions and influenced natural resource policy in India. Dhoom Singh Negi, Bachni Devi and many other village women, were the first to save trees by hugging them. They coined the slogan: 'What do the forests bear? Soil, water and pure air'. The success of the Chipko movement in the hills saved thousands of trees from being felled.

Some other persons have also been involved in this movement and have given it proper direction. Mr Sunderlal Bahuguna, a Gandhian activist and philosopher, whose appeal to Mrs Indira Gandhi, the then Prime Minister of India, resulted in the green-felling ban. Mr Bahuguna coined the Chipko slogan: 'ecology is permanent economy'. Mr Chandi Prasad Bhatt, is another leader of the Chipko movement. He encouraged the development of local industries based on the conservation and sustainable use of forest wealth for local benefit. Mr Ghanasyam Raturi, the Chipko poet, whose songs echo throughout the Himalayas of Uttar Pradesh, wrote a poem describing the method of embracing the trees to save them from felling:

' Embrace the trees and
Save them from being felled;
The property of our hills,
Save them from being looted.'

The Chipko protests in Uttar Pradesh achieved a major victory in 1980 with a 15-year ban on green felling in the Himalayan forests of that state by the order of Mrs Indira Gandhi, the then Prime Minister of India. Since then, the movement has spread to many states in the country. In addition to the 15-year ban in Uttar Pradesh, the movement has stopped felling in the Western Ghats and the Vindhyas and has generated pressure for a natural resource policy that is more sensitive to people's needs and ecological requirements.
</marquee>
</h1>
<marquee><h1 style="color:white;">
சிப்கோ இயக்கம்

1970 களில், காடுகள் அழிக்கப்படுவதற்கு ஒழுங்கமைக்கப்பட்ட எதிர்ப்பு இந்தியா முழுவதும் பரவியது மற்றும் சிப்கோ இயக்கம் என்று அறியப்பட்டது. கிராமவாசிகள் மரங்களை கட்டிப்பிடித்து, ஒப்பந்தக்காரர்களை வெட்டுவதைத் தடுப்பதால் இயக்கத்தின் பெயர் 'தழுவு' என்ற வார்த்தையிலிருந்து வந்தது.

கடந்த சில நூற்றாண்டுகளாக இந்தியாவில் பல சமூகங்கள் இயற்கையை பாதுகாக்க உதவியுள்ளன என்பது பலருக்கு தெரியாது. ராஜஸ்தானின் பிஷ்னோய் சமூகம் அப்படித்தான். அசல் சிப்கோ இயக்கம் 18 ஆம் நூற்றாண்டின் ஆரம்பத்தில் ராஜஸ்தானில் நிறுவப்பட்டது. ஜோத்பூர் மகாராஜாவின் உத்தரவின் பேரில் மரங்கள் வெட்டப்படாமல் காப்பாற்றும் முயற்சியில் அமிர்தா தேவி என்ற பெண் தலைமையில் 84 கிராமவாசிகள் அடங்கிய ஒரு பெரிய குழு உயிரை தியாகம் செய்தது. இந்த சம்பவத்திற்குப் பிறகு, மகாராஜா அனைத்து பிஷ்னாய் கிராமங்களிலும் மரங்களை வெட்டாமல் ஒரு வலுவான அரச ஆணையை வெளியிட்டார்.

20 ஆம் நூற்றாண்டில், காடுகள் முக்கிய வாழ்வாதாரமாக இருந்த மலைகளில் இது தொடங்கியது, ஏனெனில் விவசாய நடவடிக்கைகள் எளிதில் நிர்வகிக்கப்படவில்லை. இவற்றில் மிகவும் பிரபலமானது 1973 சிப்கோ இயக்கம். முதல் சிப்கோ நடவடிக்கை ஏப்ரல் 1973 இல் அப்பர் அலகானந்தா பள்ளத்தாக்கிலுள்ள மண்டல் கிராமத்தில் திடீரென நிகழ்ந்தது, அடுத்த ஐந்து ஆண்டுகளில் உத்தரபிரதேசத்தின் இமயமலையின் பல மாவட்டங்களுக்கு பரவியது. அலகானந்த பள்ளத்தாக்கின் வனப்பகுதியை ஒரு விளையாட்டு பொருட்கள் நிறுவனத்திற்கு ஒதுக்க அரசு எடுத்த முடிவால் இது நிகழ்ந்தது. இது விவசாயிகளை கோபப்படுத்தியுள்ளது, ஏனெனில் விவசாய கருவிகளுக்கு மரங்களைப் பயன்படுத்த வேண்டும் என்ற கோரிக்கை முன்பு நிராகரிக்கப்பட்டது. உள்ளூர் தன்னார்வ தொண்டு நிறுவனமான டி.ஜி.எஸ்.எஸ் (தசோலி கிராம ஸ்வராஜயசங்) இன் ஊக்கத்தோடு, அப்பகுதியின் பெண்கள், சாண்டி பிரசாத் பட் என்ற ஆர்வலர் தலைமையில், காட்டுக்குள் சென்று மரங்களைச் சுற்றி ஒரு வட்டத்தை அமைத்தனர். ஆண்கள் வெட்டாமல்.

இந்த போராட்டத்தின் வெற்றி நாட்டின் பிற பகுதிகளிலும் இதேபோன்ற போராட்டங்களுக்கு வழிவகுத்தது. உத்தரபிரதேசத்தில் இமயமலையில் துஷ்பிரயோகம் செய்வதற்கு எதிரான தன்னிச்சையான போராட்டமாக அவர்களின் தோற்றத்திலிருந்து, சிப்கோ இயக்கத்தின் ஆதரவாளர்கள், முக்கியமாக கிராம பெண்கள், பல பகுதிகளில் மரங்களை வெட்டுவதை வெற்றிகரமாக தடைசெய்து, இந்தியாவில் இயற்கை வள அமைப்பில் தாக்கத்தை ஏற்படுத்தியுள்ளனர். தூம் சிங் நேகி, பச்னி தேவி மற்றும் பல கிராம பெண்கள் முதலில் மரங்களை கட்டிப்பிடித்து காப்பாற்றினர். அவர்கள் கோஷமிட்டனர்: 'காடுகள் என்ன தாங்குகின்றன? மண், நீர் மற்றும் தூய காற்று '. மலைகளில் சிப்கோ இயக்கத்தின் வெற்றி ஆயிரக்கணக்கான மரங்களை வெட்டாமல் காப்பாற்றியது.

மற்றவர்களும் இயக்கத்தில் ஈடுபட்டு சரியான திசையை வழங்கினர். காந்திய ஆர்வலரும் தத்துவஞானியுமான சுந்தர்லால் பாகுனா, கருணைக்கொலை மீதான தடையின் விளைவாக அப்போதைய இந்தியப் பிரதமர் திருமதி இந்திரா காந்தியிடம் முறையிட்டார். திரு. பாஹுகுனா 'சூழலியல் ஒரு நிரந்தர பொருளாதாரம்' என்ற சிப்கோ முழக்கத்தை உருவாக்கினார். திரு. சாண்டி பிரசாத் பட் சிப்கோ இயக்கத்தின் மற்றொரு தலைவர். உள்ளூர் நோக்கங்களுக்காக வன செல்வத்தைப் பாதுகாத்தல் மற்றும் நிலையான பயன்பாட்டின் அடிப்படையில் உள்ளூர் தொழில்களின் வளர்ச்சியை அவர் ஊக்குவித்தார். சிப்கோ கவிஞரான திரு. கானஸ்யம் ரதுரி, உத்தரபிரதேசத்தின் இமயமலை முழுவதும் பாடல்கள் எதிரொலிக்கும் விதத்தையும், மரங்களைப் பாதுகாப்பதைத் தழுவிய விதத்தையும் விவரிக்கும் ஒரு கவிதை எழுதினார்.

'மரங்களைத் தழுவுங்கள்
விழாமல் அவர்களைப் பாதுகாக்கவும்;
எங்கள் மலைகளின் சொத்து,
கொள்ளையடிக்கப்படுவதிலிருந்து அவர்களைக் காப்பாற்றுங்கள். '

அப்போதைய இந்தியப் பிரதமர் திருமதி இந்திரா காந்தியின் உத்தரவின் பேரில், உத்தரபிரதேசத்தில் சிப்கோ ஆர்ப்பாட்டங்கள் 1980 ல் மாநிலத்தின் இமயமலை காடுகளில் பசுமை ஒழிப்புக்கு 15 ஆண்டு தடை விதித்து மிகப்பெரிய வெற்றியைப் பெற்றன. அப்போதிருந்து, இந்த இயக்கம் நாடு முழுவதும் பல மாநிலங்களுக்கு பரவியது. உத்தரபிரதேசத்தில் 15 ஆண்டுகால தடையுடன், இந்த இயக்கம் மேற்குத் தொடர்ச்சி மலையிலும் விந்தியாவிலும் வீழ்ச்சியடைவதை நிறுத்திவிட்டு, இயற்கை வளங்கள் மக்களின் தேவைகள் மற்றும் சுற்றுச்சூழலுக்கு அதிக உணர்திறன் அளிக்க அழுத்தம் கொடுத்துள்ளது.
</h1></marquee>

<marquee><h1 style="color: green">
ಚಿಪ್ಕೊ ಚಳುವಳಿ

1970 ರ ದಶಕದಲ್ಲಿ, ಕಾಡುಗಳ ನಾಶಕ್ಕೆ ಸಂಘಟಿತ ಪ್ರತಿರೋಧವು ಭಾರತದಾದ್ಯಂತ ಹರಡಿತು ಮತ್ತು ಚಿಪ್ಕೊ ಚಳುವಳಿ ಎಂದು ಪ್ರಸಿದ್ಧವಾಯಿತು. ಗ್ರಾಮಸ್ಥರು ಮರಗಳನ್ನು ತಬ್ಬಿಕೊಳ್ಳುವುದು ಮತ್ತು ಗುತ್ತಿಗೆದಾರರು ಅವುಗಳನ್ನು ಕತ್ತರಿಸುವುದನ್ನು ತಡೆಯುವುದರಿಂದ ಚಳುವಳಿಯ ಹೆಸರು 'ಅಪ್ಪಿಕೊಳ್ಳಿ' ಎಂಬ ಪದದಿಂದ ಬಂದಿದೆ.

ಕಳೆದ ಕೆಲವು ಶತಮಾನಗಳಿಂದ ಭಾರತದ ಅನೇಕ ಸಮುದಾಯಗಳು ಪ್ರಕೃತಿಯನ್ನು ಸಂರಕ್ಷಿಸಲು ಸಹಾಯ ಮಾಡಿವೆ ಎಂಬುದು ಅನೇಕ ಜನರಿಗೆ ತಿಳಿದಿಲ್ಲ. ರಾಜಸ್ಥಾನದ ಬಿಷ್ಣೋಯ್ ಸಮುದಾಯವೂ ಅಂತಹದು. ಮೂಲ ಚಿಪ್ಕೊ ಚಳುವಳಿಯನ್ನು 18 ನೇ ಶತಮಾನದ ಆರಂಭದಲ್ಲಿ ರಾಜಸ್ಥಾನದಲ್ಲಿ ಸ್ಥಾಪಿಸಲಾಯಿತು. ಜೋಧಪುರದ ಮಹಾರಾಜರ ಆದೇಶದ ಮೇರೆಗೆ ಮರಗಳನ್ನು ಕಡಿಯದಂತೆ ಉಳಿಸುವ ಪ್ರಯತ್ನದಲ್ಲಿ ಅಮೃತ ದೇವಿ ಎಂಬ ಮಹಿಳೆಯ ನೇತೃತ್ವದಲ್ಲಿ 84 ಗ್ರಾಮಸ್ಥರ ದೊಡ್ಡ ಗುಂಪು ಪ್ರಾಣ ತ್ಯಾಗ ಮಾಡಿದೆ. ಈ ಘಟನೆಯ ನಂತರ, ಮಹಾರಾಜರು ಎಲ್ಲಾ ಬಿಷ್ಣೋಯ್ ಗ್ರಾಮಗಳಲ್ಲಿ ಮರಗಳನ್ನು ಕಡಿಯದೆ ಬಲವಾದ ರಾಜ ಸುಗ್ರೀವಾಜ್ಞೆ ಹೊರಡಿಸಿದರು.

ಕೃಷಿ ಕಾರ್ಯಾಚರಣೆಗಳನ್ನು ಸುಲಭವಾಗಿ ನಿರ್ವಹಿಸಲಾಗದ ಕಾರಣ 20 ನೇ ಶತಮಾನದಲ್ಲಿ, ಕಾಡುಗಳು ಮುಖ್ಯ ಜೀವನೋಪಾಯವಾಗಿದ್ದ ಬೆಟ್ಟಗಳಲ್ಲಿ ಇದು ಪ್ರಾರಂಭವಾಯಿತು. ಇವುಗಳಲ್ಲಿ ಅತ್ಯಂತ ಪ್ರಸಿದ್ಧವಾದದ್ದು 1973 ರ ಚಿಪ್ಕೊ ಚಳುವಳಿ. ಮೊದಲ ಚಿಪ್ಕೊ ಕಾರ್ಯಾಚರಣೆಯು ಏಪ್ರಿಲ್ 1973 ರಲ್ಲಿ ಮೇಲ್ ಅಲಕಾನಂದ ಕಣಿವೆಯ ಮಂಡಲ್ ಗ್ರಾಮದಲ್ಲಿ ಥಟ್ಟನೆ ಸಂಭವಿಸಿತು ಮತ್ತು ಮುಂದಿನ ಐದು ವರ್ಷಗಳಲ್ಲಿ ಉತ್ತರ ಪ್ರದೇಶದ ಹಿಮಾಲಯದ ಹಲವಾರು ಜಿಲ್ಲೆಗಳಿಗೆ ಹರಡಿತು. ಅಲಕಾನಂದ ಕಣಿವೆಯ ಅರಣ್ಯ ಪ್ರದೇಶವನ್ನು ಕ್ರೀಡಾ ಸರಕು ಕಂಪನಿಗೆ ಹಂಚಿಕೆ ಮಾಡಲು ಸರ್ಕಾರ ತೆಗೆದುಕೊಂಡ ನಿರ್ಧಾರ ಇದಕ್ಕೆ ಕಾರಣ. ಇದು ಗ್ರಾಮಸ್ಥರಿಗೆ ಕೋಪ ತಂದಿದೆ ಏಕೆಂದರೆ ಕೃಷಿ ಉಪಕರಣಗಳಿಗೆ ಮರವನ್ನು ಬಳಸಬೇಕೆಂಬ ಅವರ ಬೇಡಿಕೆಯನ್ನು ಈ ಹಿಂದೆ ತಿರಸ್ಕರಿಸಲಾಗಿತ್ತು. ಸ್ಥಳೀಯ ಎನ್‌ಜಿಒ, ಡಿಜಿಎಸ್‌ಎಸ್ (ದಾಸೋಲಿ ಗ್ರಾಮ ಸ್ವರಾಜ್ಯಸಂಗ್) ಅವರ ಪ್ರೋತ್ಸಾಹದೊಂದಿಗೆ, ಆ ಪ್ರದೇಶದ ಮಹಿಳೆಯರು, ಚಂಡಿ ಪ್ರಸಾದ್ ಭಟ್ ಎಂಬ ಕಾರ್ಯಕರ್ತರ ನೇತೃತ್ವದಲ್ಲಿ ಕಾಡಿನೊಳಗೆ ಹೋಗಿ ಮರಗಳ ಸುತ್ತ ವೃತ್ತವನ್ನು ರಚಿಸಿದರು. ಪುರುಷರು ಅವುಗಳನ್ನು ಕತ್ತರಿಸದೆ.

ಈ ಪ್ರತಿಭಟನೆಯ ಯಶಸ್ಸು ದೇಶದ ಇತರ ಭಾಗಗಳಲ್ಲಿ ಇದೇ ರೀತಿಯ ಪ್ರತಿಭಟನೆಗೆ ಕಾರಣವಾಗಿದೆ. ಉತ್ತರಪ್ರದೇಶದ ಹಿಮಾಲಯದಲ್ಲಿ ದುರುಪಯೋಗವನ್ನು ವಿರೋಧಿಸುವ ಸ್ವಯಂಪ್ರೇರಿತ ಪ್ರತಿಭಟನೆಯಾಗಿ, ಚಿಪ್ಕೊ ಚಳವಳಿಯ ಬೆಂಬಲಿಗರು, ಮುಖ್ಯವಾಗಿ ಹಳ್ಳಿ ಮಹಿಳೆಯರು, ಅನೇಕ ಪ್ರದೇಶಗಳಲ್ಲಿ ಮರಗಳನ್ನು ಕಡಿಯುವುದನ್ನು ಯಶಸ್ವಿಯಾಗಿ ನಿಷೇಧಿಸಿದ್ದಾರೆ ಮತ್ತು ಭಾರತದಲ್ಲಿನ ನೈಸರ್ಗಿಕ ಸಂಪನ್ಮೂಲ ವ್ಯವಸ್ಥೆಯ ಮೇಲೆ ಪ್ರಭಾವ ಬೀರಿದ್ದಾರೆ. ಧೂಮ್ ಸಿಂಗ್ ನೇಗಿ, ಬಚ್ನಿ ದೇವಿ ಮತ್ತು ಇತರ ಅನೇಕ ಹಳ್ಳಿ ಮಹಿಳೆಯರು ಮೊದಲು ಮರಗಳನ್ನು ತಬ್ಬಿಕೊಂಡು ರಕ್ಷಿಸಿದರು. ಅವರು ಜಪಿಸಿದರು: 'ಕಾಡುಗಳು ಏನು ಸಹಿಸುತ್ತವೆ? ಮಣ್ಣು, ನೀರು ಮತ್ತು ಶುದ್ಧ ಗಾಳಿ '. ಬೆಟ್ಟಗಳಲ್ಲಿನ ಚಿಪ್ಕೊ ಚಳವಳಿಯ ಯಶಸ್ಸು ಸಾವಿರಾರು ಮರಗಳನ್ನು ಕಡಿಯದಂತೆ ಉಳಿಸಿತು.

ಇತರರು ಸಹ ಚಳವಳಿಯಲ್ಲಿ ಭಾಗಿಯಾಗಿದ್ದರು ಮತ್ತು ಸರಿಯಾದ ನಿರ್ದೇಶನ ನೀಡಿದರು. ದಯಾಮರಣ ನಿಷೇಧದ ಪರಿಣಾಮವಾಗಿ ಗಾಂಧಿವಾದಿ ಕಾರ್ಯಕರ್ತ ಮತ್ತು ದಾರ್ಶನಿಕ ಸುಂದರ್‌ಲಾಲ್ ಬಹುಗುಣ ಅಂದಿನ ಭಾರತದ ಪ್ರಧಾನಿ ಶ್ರೀಮತಿ ಇಂದಿರಾ ಗಾಂಧಿ ಅವರಿಗೆ ಮನವಿ ಮಾಡಿದರು. ಶ್ರೀ ಬಹುಗುನಾ ಅವರು ಚಿಪ್ಕೊ ಘೋಷಣೆಯನ್ನು 'ಪರಿಸರ ವಿಜ್ಞಾನ ಶಾಶ್ವತ ಆರ್ಥಿಕತೆ' ಎಂದು ರಚಿಸಿದರು. ಶ್ರೀ ಚಂಡಿ ಪ್ರಸಾದ್ ಭಟ್ ಅವರು ಚಿಪ್ಕೊ ಚಳವಳಿಯ ಮತ್ತೊಬ್ಬ ನಾಯಕ. ಸ್ಥಳೀಯ ಉದ್ದೇಶಗಳಿಗಾಗಿ ಅರಣ್ಯ ಸಂಪತ್ತಿನ ಸಂರಕ್ಷಣೆ ಮತ್ತು ಸುಸ್ಥಿರ ಬಳಕೆಯ ಆಧಾರದ ಮೇಲೆ ಸ್ಥಳೀಯ ಕೈಗಾರಿಕೆಗಳ ಅಭಿವೃದ್ಧಿಗೆ ಅವರು ಪ್ರೋತ್ಸಾಹ ನೀಡಿದರು. ಚಿಪ್ಕೊ ಕವಿ ಶ್ರೀ ಘಾನಸ್ಯಂ ರತುರಿ ಅವರು ಉತ್ತರ ಪ್ರದೇಶದ ಹಿಮಾಲಯದಾದ್ಯಂತ ಹಾಡುಗಳು ಪ್ರತಿಧ್ವನಿಸುವ ಮತ್ತು ಮರಗಳ ಸಂರಕ್ಷಣೆಯನ್ನು ಸ್ವೀಕರಿಸುವ ವಿಧಾನವನ್ನು ವಿವರಿಸುವ ಕವಿತೆಯನ್ನು ಬರೆದಿದ್ದಾರೆ.

'ಮರಗಳನ್ನು ಅಪ್ಪಿಕೊಳ್ಳಿ ಮತ್ತು
ಬೀಳದಂತೆ ಅವರನ್ನು ರಕ್ಷಿಸಿ;
ನಮ್ಮ ಬೆಟ್ಟಗಳ ಆಸ್ತಿ,
ದರೋಡೆ ಮಾಡದಂತೆ ಅವರನ್ನು ಉಳಿಸಿ. '

ಅಂದಿನ ಭಾರತದ ಪ್ರಧಾನ ಮಂತ್ರಿ ಶ್ರೀಮತಿ ಇಂದಿರಾ ಗಾಂಧಿಯವರ ಆದೇಶದ ಮೇರೆಗೆ 1980 ರಲ್ಲಿ ಉತ್ತರಪ್ರದೇಶದಲ್ಲಿ ಚಿಪ್ಕೊ ಪ್ರತಿಭಟನೆ ಭಾರಿ ಯಶಸ್ಸನ್ನು ಕಂಡಿದ್ದು, ರಾಜ್ಯದ ಹಿಮಾಲಯನ್ ಕಾಡುಗಳಲ್ಲಿ ಹಸಿರು ನಿರ್ಮೂಲನೆಗೆ 15 ವರ್ಷಗಳ ನಿಷೇಧ ವಿಧಿಸಲಾಯಿತು. ಅಂದಿನಿಂದ, ಈ ಚಳುವಳಿ ದೇಶಾದ್ಯಂತ ಅನೇಕ ರಾಜ್ಯಗಳಿಗೆ ಹರಡಿತು. ಉತ್ತರಪ್ರದೇಶದಲ್ಲಿ 15 ವರ್ಷಗಳ ನಿಷೇಧದ ಜೊತೆಗೆ, ಚಳುವಳಿ ಪಶ್ಚಿಮ ಘಟ್ಟ ಮತ್ತು ವಿಂಧ್ಯಗಳಲ್ಲಿ ಬೀಳುವುದನ್ನು ನಿಲ್ಲಿಸಿದೆ ಮತ್ತು ನೈಸರ್ಗಿಕ ಸಂಪನ್ಮೂಲಗಳು ಜನರ ಮತ್ತು ಪರಿಸರದ ಅಗತ್ಯತೆಗಳಿಗೆ ಹೆಚ್ಚು ಸಂವೇದನಾಶೀಲವಾಗಿರಲು ಒತ್ತಡವನ್ನು ಸೃಷ್ಟಿಸಿದೆ.
</h1></marquee>

<marquee><h1 style="color:green;">
ചിപ്കോ പ്രസ്ഥാനം

1970 കളിൽ വനങ്ങളുടെ നാശത്തിനെതിരായ സംഘടിത ചെറുത്തുനിൽപ്പ് ഇന്ത്യയിലുടനീളം വ്യാപിക്കുകയും ചിപ്കോ പ്രസ്ഥാനം എന്നറിയപ്പെടുകയും ചെയ്തു. ഗ്രാമവാസികൾ മരങ്ങൾ കെട്ടിപ്പിടിക്കുകയും കരാറുകാർ വെട്ടിമാറ്റുന്നത് തടയുകയും ചെയ്യുന്നതിനാൽ 'ആലിംഗനം' എന്ന വാക്കിൽ നിന്നാണ് പ്രസ്ഥാനത്തിന്റെ പേര് വന്നത്.

കഴിഞ്ഞ ഏതാനും നൂറ്റാണ്ടുകളായി ഇന്ത്യയിലെ പല സമുദായങ്ങളും പ്രകൃതിയെ സംരക്ഷിക്കാൻ സഹായിച്ചിട്ടുണ്ടെന്ന് പലർക്കും അറിയില്ല. രാജസ്ഥാനിലെ ബിഷ്നോയി സമൂഹം അത്തരത്തിലുള്ളതാണ്. പതിനെട്ടാം നൂറ്റാണ്ടിന്റെ തുടക്കത്തിൽ രാജസ്ഥാനിൽ സ്ഥാപിതമായതാണ് ചിപ്പ്കോ പ്രസ്ഥാനം. ജോധ്പൂരിലെ മഹാരാജാവിന്റെ നിർദേശപ്രകാരം മരങ്ങൾ വെട്ടിമാറ്റുന്നതിൽ നിന്ന് രക്ഷിക്കാനുള്ള ശ്രമത്തിൽ അമൃതാദേവി എന്ന സ്ത്രീയുടെ നേതൃത്വത്തിൽ 84 ഗ്രാമീണരുടെ ഒരു വലിയ സംഘം ജീവൻ ബലിയർപ്പിച്ചു. ഈ സംഭവത്തിന് ശേഷം മഹാരാജാവ് എല്ലാ ബിഷ്നോയി ഗ്രാമങ്ങളിലും മരങ്ങൾ മുറിക്കാതെ ശക്തമായ രാജകീയ ഉത്തരവ് പുറപ്പെടുവിച്ചു.

കാർഷിക പ്രവർത്തനങ്ങൾ എളുപ്പത്തിൽ കൈകാര്യം ചെയ്യാനാകാത്തതിനാൽ ഇരുപതാം നൂറ്റാണ്ടിൽ കാടുകളുടെ പ്രധാന ഉപജീവനമാർഗമായ കുന്നുകളിൽ ഇത് ആരംഭിച്ചു. ഇവയിൽ ഏറ്റവും പ്രസിദ്ധമായത് 1973 ലെ ചിപ്പ്കോ പ്രസ്ഥാനമായിരുന്നു. ആദ്യത്തെ ചിപ്കോ പ്രവർത്തനം 1973 ഏപ്രിലിൽ അപ്പർ അലകാനന്ദ താഴ്‌വരയിലെ മണ്ഡൽ ഗ്രാമത്തിൽ പെട്ടെന്നു സംഭവിച്ചു, അടുത്ത അഞ്ച് വർഷത്തിനുള്ളിൽ ഉത്തർപ്രദേശിലെ ഹിമാലയത്തിലെ പല ജില്ലകളിലേക്കും വ്യാപിച്ചു. അലകാനന്ദ താഴ്‌വരയിലെ വനമേഖല ഒരു സ്‌പോർട്‌സ് ഗുഡ്സ് കമ്പനിക്ക് അനുവദിക്കാനുള്ള സർക്കാർ തീരുമാനമാണ് ഇതിന് കാരണം. കാർഷികോപകരണങ്ങൾക്കായി തടികൾ ഉപയോഗിക്കണമെന്ന ആവശ്യം മുമ്പ് നിരസിക്കപ്പെട്ടതിനാൽ ഇത് ഗ്രാമീണരെ പ്രകോപിപ്പിച്ചു. പ്രാദേശിക എൻ‌ജി‌ഒയായ ഡി‌ജി‌എസ്‌എസ് (ദസോളി വില്ലേജ് സ്വരജ്യസാങ്) പ്രോത്സാഹിപ്പിച്ച് പ്രദേശത്തെ സ്ത്രീകൾ ചന്ദി പ്രസാദ് ഭട്ട് എന്ന ആക്ടിവിസ്റ്റിന്റെ നേതൃത്വത്തിൽ കാട്ടിലേക്ക് പോയി മരങ്ങൾക്ക് ചുറ്റും ഒരു വൃത്തമുണ്ടാക്കി. പുരുഷന്മാർ അവരെ വെട്ടാതെ.

ഈ പ്രതിഷേധത്തിന്റെ വിജയം രാജ്യത്തിന്റെ മറ്റു ഭാഗങ്ങളിലും സമാനമായ പ്രതിഷേധത്തിന് കാരണമായി. ഉത്തർപ്രദേശിലെ ഹിമാലയത്തിൽ ദുരുപയോഗം ചെയ്യുന്നതിനെതിരെ സ്വമേധയാ ഉള്ള പ്രതിഷേധമെന്ന നിലയിൽ അവരുടെ ഉത്ഭവം മുതൽ, ചിപ്കോ പ്രസ്ഥാനത്തെ പിന്തുണയ്ക്കുന്നവർ, പ്രധാനമായും ഗ്രാമീണ സ്ത്രീകൾ, പല പ്രദേശങ്ങളിലും മരങ്ങൾ മുറിക്കുന്നത് വിജയകരമായി നിരോധിക്കുകയും ഇന്ത്യയിലെ പ്രകൃതിവിഭവ സംവിധാനത്തെ സ്വാധീനിക്കുകയും ചെയ്തു. ധൂം സിംഗ് നേഗി, ബച്നി ദേവി തുടങ്ങി നിരവധി ഗ്രാമീണ സ്ത്രീകൾ ആദ്യം മരങ്ങൾ കെട്ടിപ്പിടിച്ച് രക്ഷിച്ചു. അവർ ആക്രോശിച്ചു: 'വനങ്ങൾ എന്താണ് സഹിക്കുന്നത്? മണ്ണ്, വെള്ളം, ശുദ്ധവായു '. കുന്നുകളിലെ ചിപ്പ്കോ പ്രസ്ഥാനത്തിന്റെ വിജയം ആയിരക്കണക്കിന് മരങ്ങൾ വെട്ടിമാറ്റുന്നതിൽ നിന്ന് രക്ഷിച്ചു.

മറ്റുള്ളവരും പ്രസ്ഥാനത്തിൽ പങ്കാളികളാകുകയും ശരിയായ നിർദ്ദേശം നൽകുകയും ചെയ്തു. ദയാവധം നിരോധിച്ചതിന്റെ ഫലമായി ഗാന്ധിയൻ ആക്ടിവിസ്റ്റും തത്ത്വചിന്തകനുമായ സുന്ദർലാൽ ബാഹുഗുന അന്നത്തെ പ്രധാനമന്ത്രി ശ്രീമതി ഇന്ദിരാഗാന്ധിയോട് അഭ്യർത്ഥിച്ചു. 'ഇക്കോളജി ഒരു ശാശ്വത സമ്പദ്‌വ്യവസ്ഥ' എന്ന ചിപ്‌കോ മുദ്രാവാക്യം ശ്രീ. ചിപ്പ്കോ പ്രസ്ഥാനത്തിന്റെ മറ്റൊരു നേതാവാണ് ശ്രീ ചാണ്ടി പ്രസാദ് ഭട്ട്. പ്രാദേശിക ആവശ്യങ്ങൾക്കായി വന സമ്പത്തിന്റെ സംരക്ഷണവും സുസ്ഥിര ഉപയോഗവും അടിസ്ഥാനമാക്കി പ്രാദേശിക വ്യവസായങ്ങളുടെ വികസനം അദ്ദേഹം പ്രോത്സാഹിപ്പിച്ചു. ഉത്തർപ്രദേശിലെ ഹിമാലയത്തിലുടനീളം ഗാനങ്ങൾ പ്രതിധ്വനിക്കുന്നതും വൃക്ഷങ്ങളുടെ സംരക്ഷണത്തെ സ്വീകരിക്കുന്നതും വിവരിക്കുന്ന ഒരു കവിത ശ്രീ ഘനസ്യം രതൂരി എഴുതി.

'മരങ്ങൾ ആലിംഗനം ചെയ്യുക
വീഴാതിരിക്കാൻ അവരെ സംരക്ഷിക്കുക;
ഞങ്ങളുടെ കുന്നുകളുടെ സ്വത്ത്,
കവർച്ചയിൽ നിന്ന് അവരെ രക്ഷിക്കുക. '

അന്നത്തെ പ്രധാനമന്ത്രി ശ്രീമതി ഇന്ദിരാഗാന്ധിയുടെ നിർദേശപ്രകാരം 1980 ൽ ഉത്തർപ്രദേശിൽ നടന്ന ചിപ്പ്കോ പ്രതിഷേധം വൻ വിജയമായിരുന്നു. സംസ്ഥാനത്തെ ഹിമാലയൻ വനങ്ങളിൽ ഹരിത നിർമാർജനം 15 വർഷത്തെ നിരോധനത്തോടെ. അതിനുശേഷം ഈ പ്രസ്ഥാനം രാജ്യത്തുടനീളം പല സംസ്ഥാനങ്ങളിലേക്കും വ്യാപിച്ചു. ഉത്തർപ്രദേശിൽ 15 വർഷത്തെ നിരോധനത്തോടൊപ്പം, പ്രസ്ഥാനം പശ്ചിമഘട്ടത്തിലും വിന്ധ്യയിലും വീഴുന്നത് അവസാനിപ്പിക്കുകയും പ്രകൃതിവിഭവങ്ങൾ ജനങ്ങളുടെയും പരിസ്ഥിതിയുടെയും ആവശ്യങ്ങളോട് കൂടുതൽ സംവേദനക്ഷമത കാണിക്കാൻ സമ്മർദ്ദം സൃഷ്ടിക്കുകയും ചെയ്തു.
</h1></marquee>

<marquee><h1>

</h1></marquee>

<marquee><h1>

</h1></marquee>

<marquee><h1>

</h1></marquee>

</form>
</body>
</html>

