{% load staticfiles %}
<html>
<table border="9" bgcolor="black">
    <tr>
        <td>
<body  >
<p style="float: left ;"><img src="{% static "images/IMG_20190206_131643216.jpg" %}" width="180"></p>
    <p style="float: right;"><img src="{% static "images/download (1).png" %}" width="" height="200"></p>
<marquee><h1 style="color: white">Dr.K.k.r Gowtham school</h1></marquee>

<table >
    <tr>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index1" %}">Home</a></h4></button>
        </td>

        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index3" %}">About</a></h4></button>
        </td>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index4" %}">Physics</a></h4></button>
        </td>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "home" %}">Result</a></h4></button>
        </td>
    </tr>
</table>
<br>
<br>
<br>
<form>
    <table align="center">
        <tr>
            <td><a href="{% url "index" %}"><h1 align="center">Dr.K.k.r Gowtham School Click On  Studern Register Form</h1></a></td>
        </tr>
        <tr>
            <td><a href="{% url "AllDet" %}"><h1 align="center">Dr.K.k.r Gowtham School Click On  Radha Student Login Form</h1></a></td>
        </tr>
         <tr>
            <td><a href="{% url "Teacher" %}"><h1 align="center">Dr.K.k.r Gowtham School Click On  Teacher Register Form</h1></a></td>
        </tr>
        <tr>
            <td><a href="{% url "TeaDet" %}"><h1 align="center">Dr.K.k.r Gowtham School Click On  Radha Teacher Login Form</h1></a></td>
        </tr>
        <tr>
            <td><a href="{% url "home1" %}"><h1 align="center">Dr.K.k.r Gowtham School Click On Student Exam Result</h1></a></td>
        </tr>
    </table>
</form>
</body>
       </td>

</table>

</html>
