<h1>రామాయణము ప్రాముఖ్యము</h1>
<p>24,000 శ్లోకము లతో కూడిన రామాయణము భారతదేశము, హిందూ ధర్మము ల చరిత్ర, సంస్కృతి, నడవడిక, నమ్మకములు, ఆచారములపై అనితరమైన ప్రభావము కలిగియున్నది. రామాయణములో శ్రీ సీతారాముల పవిత్ర చరిత్ర వర్ణింపబడింది. తండ్రీకొడుకులు, భార్యాభర్తలు, అన్నదమ్ములు, యజమాని-సేవకులు, మిత్రులు, రాజు-ప్రజలు, భగవంతుడు-భక్తుడు - వీరందరి మధ్య గల సంబంధబాంధవ్యములు, ప్రవర్తనా విధానములు రామాయణములో చెప్పబడినవి. చాలా మంది అభిప్రాయములో రామాయణములోని పాత్రలు ఆదర్శ జీవనమునకు ప్రమాణముగా స్వీకరింపవచ్చును.</p>
<p>వాల్మీకి రామాయణమే గాక, వేదవ్యాసుని ఆధ్యాత్మ రామాయణము, భవభూతి ఉత్తర రామచరితము పేరెన్నిక గన్నవి. ఇంక రామాయణములోని పాత్రలు, సంఘటనలు, భావములు, తత్వములు అంతర్గతముగా నున్న పురాణములు, కథలు, కావ్యములు, పాటలు అన్ని భారతీయ భాషలలోను లెక్కకు మిక్కిలిగా ఉన్నాయి. కాని వాల్మీకి రామాయణమే ప్రధాన ప్రమాణముగా సర్వత్రా అంగీకరింప బడుతున్నది. ఆదికవి వాల్మీకి ప్రార్థన సంప్రదాయముగా చాలామంది కవులు స్మరిస్తారు.</p>
<p>కూజంతమ్ రామరామేతి మధురమ్ మధురాక్షరమ్</p>
<p>ఆరుహ్య కవితా శాఖాం వందే వాల్మీకి కోకిలమ్</p>
<p>కావ్యం రామాయణం సీతాయాశ్చచరితమ్ మహత్</P>
<p>పౌలస్త్య వధమిత్యేవ, చకార చరిత వ్రత:</p>
<h1>రామాయణము ప్రధానముగా సీతా రాముల పుణ్యచరితము . ఆంజనేయ భక్తి భరితము. వీరిని గూర్చిన ప్రార్థనలు ఎన్నో ప్రచారములో నున్నవి. మచ్చుకు కొన్ని.</h1>
<br>
<p>ఆపదామపహర్తారం దాతారం సర్వసంపదాం.</p>
<p>లోకాభిరామం శ్రీరామం భూయో భూయో నమామ్యహం.</p>
<p>దక్షిణే లక్ష్మణో యస్య వామేచ జనకాత్మజా</p>
<p>పురతో మారుతిర్యస్య తం వందే రఘు నందనమ్</p>
<p>గోష్పదీకృత వారాసిం మశకీకృత రాక్షసమ్</p>
<p>రామాయణ మహా మాలా రత్నం వందే అనిలాత్మజమ్</p>
<h1>రామ నామము సకల పాప హరమనీ, మోక్షప్రథమనీ పలువురి నమ్మిక. "రామ" నామములో పంచాక్షరీ మంత్రము "ఓం నమశ్శివాయ" నుండి 'మ' బీజాక్షరము, అష్టాక్షరీ మంత్రము "ఓం నమో నారాయణాయ" నుండి 'రా' బీజాక్షరము పొందుపరచబడియున్నవని ఆధ్యాత్మిక వేత్తల వివరణ. మూడు మార్లు "రామ" నామమును స్మరించినంతనే శ్రీ విష్ణు సహస్ర నామ స్తోత్రము చేసిన ఫలము లభించునని శ్రీ విష్ణు సహస్ర నామ స్తోత్రము-ఉత్తర పీఠికలో చెప్పబడింది.</h1>
<br>
<p>శ్రీ రామ రామ రామేతి రమే రామే మనోరమే</p>
<p>సహస్రనామ తత్తు(స్తు)ల్యమ్ రామనామ వరాననే</p>
<br>
<p>ఒక నాడు నారద మహర్షి వాల్మీకి ఆశ్రమమునకు వస్తాడు. అప్పుడు వాల్మీకి నారదుడిని ఒక ప్రశ్న అడుగుతాడు.

కఃను అస్మిన్ సాంప్రతం లోకే గుణవాన్ కః చ వీర్యవాన్</p>
<br>
<p>ధర్మజ్ఞః చ కృతజ్ఞః చ సత్యవాక్యో దృఢ వ్రతః</p>
<p>ఈ కాలం లో, ఈ లోకంలో గుణవంతుడు, యుద్ధంలో శత్రువుని ధైర్యంగా జయించగల్గిన వాడు, ధర్మవంతుడు, చేసిన మేలు మరువని వాడు, ఎల్లప్పుడు సత్యమునే పలికేవాడు, అనుకున్న పనిని దృఢ సంకల్పంతో చేసేవాడు ఎవడయిన ఉన్నడా..? ఉంటే వాని గురించి చెప్పు అని అడుగుతాడు.</p>
