<html>
<body>
<h1>Scussessfull Register</h1>
<form>
    <table>
        <tr>
            <th width="100">IDNO</th>
            <th width="100">quection</th>
            <th width="100">Update</th>

        </tr>
        {% for x in object_list %}
            <tr>
            <td>
                <form action="/delete{{ x.num }}/">
                    <button type="submit">{{ x.quection }}</button></form></td>
            <td width="150">{{ x.quection }}</td>

            <td>
            <form  action="/update{{ x.num }}/" >

                <button type="submit">yes</button>
                </form>
            </td>

        {% endfor %}
    </table>
</form>
</body>
</html>


